<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <h1>Welcome to CSE Motors!</h1>
<% } %>

<div class="hero-section">
  <div class="hero-content">
    <h2>DMC Delorean</h2>
    <p>3 Total Vehicles Starting at <span class="price">$25,000</span></p>
    <div class="hero-image">
      <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean" />
    </div>
  </div>
</div>

<div class="upgrades-reviews">
  <section class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrade-grid">
      <div class="upgrade-item">
        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        <a href="#" title="Flux Capacitor">Flux Capacitor</a>
      </div>
      <div class="upgrade-item">
        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
        <a href="#" title="Flame Decals">Flame Decals</a>
      </div>
      <div class="upgrade-item">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
        <a href="#" title="Bumper Stickers">Bumper Stickers</a>
      </div>
      <div class="upgrade-item">
        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        <a href="#" title="Hub Caps">Hub Caps</a>
      </div>
    </div>
  </section>

  <section class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it will travel through time!" (4/5 stars)</li>
      <li>"Cool, so cool." (4/5 stars)</li>
      <li>"80's livin and I love it!" (5/5 stars)</li>
      <li>"Loud and loving it!" (5/5 stars)</li>
      <li>"Flux capacitor = world peace." (5/5 stars)</li>
    </ul>
  </section>
</div>